path {
    /* Change also in render*/
    fill: #ccc;
    stroke: #fff;
    stroke-width: .5px;
}

path:hover {
    transition: fill .4s ease;
    fill: #bbb;
}

html, body {
    height: 100%;
    width: 100%;
    font: 10px sans-serif;
    margin: 0;
    padding: 0;

    -webkit-font-smoothing:antialiased;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#svg {
    height: 100%;
    width: 100%;
}

#state_names {
    font-size: 8px;
}

text {
    pointer-events: none;   /* Remove all the interactio in the text*/
}

.no_interaction {
    pointer-events: none;   /* Remove all the interactions */
}

.pointer {
    cursor: pointer;   /* Remove all the interactions */
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

text.name {
    text-anchor: start;
    fill: black;
}

text.state {
    text-anchor: start;
    fill: #333;
}

div#filters {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 400px;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

div#zoom {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 110px;
    background-color: none;
}

div#selected_companies {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 200px; */
    height: 400px;
    /* background-color: rgba(0,0,0,0.5); */
}

.center {
    text-align: center;
}

button {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 10px;

    padding: 10px;

    border-radius: 5px;

    border: 0;

    outline: none;

    transition: background-color 0.5s;
}

.active {
    background-color: rgba(46, 204, 113, 0.8);
    color: white;
}

.not_active {
    background-color: rgba(170, 170, 170, 0.8);
    color: white;
}

.red {
    background-color: rgba(192, 57, 43, 0.8);
    color: white;

    margin-right: auto;
    margin-left: auto;
}

select {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 10px;
    height: 30px;

    border-radius: 5px;

    border: 0;

    transition: background-color 0.5s;
}

input {
    width: 60px;
    margin-left: 10px;
    margin-top: 4px;
    background-color: rgba(170, 170, 170, 0.8);
    border: 0;
    padding: 6px;

    color: white;
}

input::-webkit-input-placeholder {
    color: rgba(200, 200, 200, 1);
}

div.zoom_button {
    font-size: 30px;

    text-align: center;

    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;

    background-color: rgba(170, 170, 170, 0.8);

    cursor: pointer;

    color: white;
}

table {
    background-color: rgba(0,0,0,0.5);

    border-collapse: separate;
    border-spacing: 0;
    font-size: 12px;
    line-height: 24px;
    text-align: left;

    color: white;

    box-shadow: none!important;
}

tr:nth-child(even) {
    background: rgba(50,50,50,0.8)!important;;
}

tr:nth-child(odd) {
    background: rgba(0,0,0,0.8)!important;
}

td:nth-child(even) {
    background: rgba(255,255,255,0.05)!important;;
}

td:nth-child(odd) {
    background: rgba(0,0,0,0.05)!important;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #f1c40f;
}

a:visited {
    color: #e67e22;
}

a:hover {
    color: #2980b9;
}